{% extends 'base.html.twig' %}

{% block content %}
    <header class="page-title pt-light pt-plax-md-light" data-stellar-background-ratio="0.4" style="background-position: 0px -75px;">
        <div class="bg-overlay" style="padding-top: 100px;">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">
                        <h1>Recherche</h1>
                        <span class="subheading">« {{ q }} »</span>
                    </div>
                    <ol class="col-sm-6 text-right breadcrumb">
                        <li><a href="{{ path('site_index') }}">Accueil</a></li>
                        <li class="active">Recherche</li>
                    </ol>

                </div>
            </div>
        </div>
    </header>

    <div class="gray-bg">
        <div class="container section clients-layout">
            <div class="row">

                {% for service in services %}
                <!-- Item 1 -->
                    <div class="col-lg-4 col-md-6 ws-s">
                        <div class="client-item">
                            <a href="{{ path('service_show', service.params) }}"><img class="img-responsive" src="{{ service.imagesPath(1) ~ '/' ~ service.images[0] }}" alt="Client"></a>
                            <div class="item-content">
                                <h6>{{ service.name }} <small>{{ service.category.name }}</small></h6>
                                <p>{{ service.summary }}</p>
                                <a href="{{ path('service_show', service.params) }}" class="btn-ghost btn-small cli-btn">En savoir plus</a>
                            </div>
                        </div><!-- / .client-item -->
                    </div><!-- / .col-lg-4 -->

                {% endfor %}
            </div><!-- / .row -->
        </div><!-- / .container -->
    </div>
{% endblock %}